<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">


        <meta-data
            android:name="com.yandex.maps.api.v2.apikey"
            android:value="78126b39-de8b-48e2-bee9-61283bc89a6d" />

        <!-- SnegurAndVodoprovod БЫЛ ПОСТАВЛЕН ДЛЯ ТЕСТА, ЕСЛИ НУЖНО ПОТЕСТИТЬ: ПОДСТАВЬТЕ СВОЙ -->
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartDialogActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurDialogActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndJeweler"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndCat"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndGolub"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndDog"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndOstrovski"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndLadia"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndLove"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndSkameika"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SnegurAndVodoprovod"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name=".DoveGameActivity" />


    </application>
</manifest>